
{% extends 'base.html' %} 
{% block title %}Статьи{% endblock %}
{% block body %}
  {% if user.is_authenticated %}
  <p>Фильтрация статей по названию</p>
  <form action="{% url 'articles_filter' %}" method="get">
    <label>Название:</label>
    <input type="text" name="name">
    <button type="submit">Отфильтровать</button>
  </form>
  {% endif %}
  <h1 class="articles__title">Статьи</h1>
  {% for article in articles %}
    <div class="articles__item">
    <a class="articles__link" href="{%  url 'article' article.slug %}">
      <p class="articles__text">{{article.author}}: {{article.title}}</p>
    </a>
    </div>
  {% endfor %}
{% endblock %}
